<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Pet</title>
</head>
<body>
    <h1>Add Pet</h1> 
    <p> <a href="/">Home<a></a>
    <form action="/addPet" method="post">
        Name <input type="text" name="txtName"> 
        <br>
        Age <input type="text" name="txtAge">   
        <br>
        Image <input type="text" name="txtImage">   
        <br>
        Price <input type="text" name="txtPrice">   
        <br>
        <input type="submit" value="Add">
    </form>
</body>
</html>